[submodule "modules/google-cast"]
	path = modules/google-cast
	url = https://github.com/ConnectSDK/Connect-SDK-iOS-Google-Cast.git
[submodule "core"]
	path = core
	url = https://github.com/ConnectSDK/Connect-SDK-iOS-Core.git
